// --------------------web-font--------------------
// title
@mixin web-tit($fz: 56px) {
  font-weight: 700;
  font-size: $fz;
  letter-spacing: normal;
  line-height: normal;
  color: $txtDefult;
}

// body
@mixin web-bd($fz: 18px) {
  font-weight: 400;
  font-size: $fz;
  letter-spacing: normal;
  line-height: normal;
  color: $txtDefult;
}

// --------------------mob-font--------------------
// title
@mixin mob-tit($fz: 30px) {
  font-weight: 700;
  font-size: $fz;
  line-height: normal;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  color: $txtDefult;
}

// body
@mixin mob-bd($fz: 14px) {
  font-weight: 400;
  font-size: $fz;
  letter-spacing: calc($fz * -0.03);
  line-height: normal;
  color: $txtDefult;
}

// --------------------정렬--------------------
@mixin posXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter($jc: center, $ac: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ac;
}
