// -----------------------main-visual-----------------------
.main-visual-sub2 {
  background: linear-gradient(0deg, #000 0.1%, rgba(0, 0, 0, 0) 78.23%),
    url(../../images/sub2/main-visual/main-visual-sub2.jpg) no-repeat 50% 50% /
      cover;
}
// -----------------------performance-info-----------------------
.performance-info {
  .inner {
    padding: 0 !important;
  }
  .tit-page {
    height: 100vh;
    padding: 6.944vw 5.556vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .txt-wrap {
      display: flex;
      align-items: baseline;
      position: relative;
    }
    .tit {
      margin-right: 12px;
    }
    .behind-tit {
      font-family: "Source Sans 3", sans-serif;
      @include web-tit(140px);
      letter-spacing: -7px;
      position: absolute;
      top: -100px;
      left: 10px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15) 22.61%,
        rgba(255, 255, 255, 0) 71.86%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      z-index: -1;
    }
  }
  .poster {
    height: 100vh;
    padding: 0;
  }
  .poster-1 {
    background: conic-gradient(
        from -43deg at 44.72% 48.26%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.38% 54.89%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-1.jpg) no-repeat 50% 50% /
        cover;
  }
  .poster-2 {
    background: conic-gradient(
        from -42deg at 44.48% 50.03%,
        rgba(0, 0, 0, 0.5) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.59% 54.88%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0.3) 208.10944318771362deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-2.jpg) no-repeat 50% 50% /
        cover;
  }
  .poster-3 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      conic-gradient(
        from -46deg at 45.14% 53.05%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0.12) 152.5084948539734deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.38% 54.71%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-3.jpg) no-repeat 50% 50% /
        cover;
  }
  .poster-4 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      conic-gradient(
        from -46deg at 45.14% 53.05%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0.12) 152.5084948539734deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.38% 54.71%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-4.jpg) no-repeat 50% 50% /
        cover;
  }
  .poster-5 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      conic-gradient(
        from -39deg at 43.61% 53.1%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.59% 54.76%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-5.jpg) no-repeat 50% 50% /
        cover;
  }
  .poster-6 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      conic-gradient(
        from -39deg at 43.61% 53.1%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.59% 54.76%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-6.jpg) no-repeat 50% 50% /
        cover;
  }
}
