// 변수 설정
$primary: #000;
$primaryWhite: #fff;
$secondary: #d92b2b;
$point: #cbacdf;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$txtDefult: #fff;
$txtSub1: rgba(255, 255, 255, 0.8);
$txtSub2: rgba(255, 255, 255, 0.6);

$font-size: 16px;
$font-family: "Pretendard Variable", "Pretendard", "-apple-system",
  "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

$hd-height: 100px;
$ft-height: 70px;
$icon-height: 40px;
$icon-width: 40px;

// 반응형 미디어 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;

// ----------------------참고----------------------
// scss파일 명 앞에 언더바(_)를 적어주면 css로 컴파일되지 않음
// 특히 import할 파일에 대해
